//Mixins
@mixin transform {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    &:hover {
        transform: scale(1.1);
        }
}
@mixin border {
    border: 1px solid $color-gray;
    border-radius: 10px;
}