$color-menu: #c1b2b1;
$color-white: #ffffff;
$color-text: #4e4e4e;
$color-text_light: #9c9c9c;
$color-link: #98b8fb;
$color-link_light: #95a9b1;
$color-title: #518da3;
$color-gray: #b1b1b1;
$color-title_light: #bbcada;
$color-footer: #e8edef;
$btn-radius: 100px;
$theme-font: 'Open Sans', sans-serif;
$special-font: 'Raleway', sans-serif;
$fill-btn: rgba(255, 255, 255, 0.1);
$border-btn: solid 2px rgba(255, 255, 255, 0.8);
$border-btn-blue: solid 2px #98b8f6;
$tr-bottom: polygon(0 0, 100% 0, 100% 100%, 0 75%);
$tr-top: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
$circle-img: 50%;
$shadow: 0 30px 30px 0 rgba(140, 153, 191, 0.2);


