.about {
    margin-top: 100px;
    &_container {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    &_content {
        flex: 1;
    }
    &_text {
        font-size: 30px;
    }
    &_img {
        flex: 1;
        position: relative;
    }
    &_s-square {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &_subtitle {
        font-size: 40px;
        color: $color-text;
    }
    &_b-square {
        position: absolute;
        top: 60%;
        left: 20%;
    }
}