<div class="container about_container">
    <div class="about_content">
        <h2 class="title sc_title">About</h2>
        <h3 class="about_subtitle">Home to everyone's best photos</h3>
        <p class="about_text" ><b>Wild_</b> is a photo community and marketplace for discovering, sharing, buying, and selling inspiring photograph powered by creative people around the world.</p>
        <p class="about_text" >In our community, you can share your photos worldwide. From mobile photographers to professionals, <b>Wild_</b> has the products and features to take your photography to the next level.</p>
        <p class="about_text" >We are a photography community unlike any other. We help you to explore 50 million inspiring photos, to connect with other enthusiasts and to learn more about the craft.</p>
        <a class="link-arrow" href="#">Learn more<i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
    <div class="about_img">
        <img class="about_s-square shadow" src="img/img_floating_square_s.png" alt="small-square">
        <img class="about_b-square shadow" src="img/img_floating_square_b.png" alt="big-square">
    </div>
</div>