<div class="container">
    <h2 class="title sc_title contact_title">Con&#8211;<br>tact</h2>
    <div class="contact_content">
        <div class="contact_item">
            <img class="contact_img" src="img/footer_team.png" alt="Our team">
            <div class="contact_diagram">
                <h3 class="contact_diagram_title">Get in touch</h3>
                <span class="contact_diagram_subtitle">We are here for you</span>
                <p class="contact_diagram_count"><span class="demo-pie" data-peity='{ "fill": ["#F8E1D9", "#A8C1F3","#BFD4E8"], "innerRadius": 40, "radius": 50 }'>2,5,1</span></p>
                <span class="contact_count contact_count__light">923 Video Makers</span>
                <span class="contact_count contact_count__blue">1,622 Photographers</span>
                <span class="contact_count contact_count__pink">601 Moution Designers</span>
                </ul>
            </div>
        </div>
        <div class="contact_item">
            <form class="contact_form">
                <input class="contact_form_input" type="text" placeholder="You name is?">
                <input class="contact_form_input" type="email" placeholder="Email">
                <textarea class="contact_form_input" placeholder="Message..."></textarea>
                <button class="btn btn__form" type="submit">Say hello</button>
            </form>
        </div>
        <div class="contact_item">
            <img class="contact_logo" src="img/footer_logo.png" alt="Logo">
        </div>
        <div class="contact_item">
            <div class="contact_menu">
                <ul class="contact_submenu">
                    <li class="contact_menu_title">Learn more</li>
                    <li class="contact_menu_item"><a href="#">Tour</a></li>
                    <li class="contact_menu_item"><a href="#">Customers</a></li>
                    <li class="contact_menu_item"><a href="#">Pricing & Plan</a></li>
                    <li class="contact_menu_item"><a href="#">New features</a></li>
                    <li class="contact_menu_item"><a href="#">Educations</a></li>
                </ul>
                <ul class="contact_submenu">
                    <li class="contact_menu_title">About</li>
                    <li class="contact_menu_item"><a href="#">Media</a></li>
                    <li class="contact_menu_item"><a href="#">Kit</a></li>
                    <li class="contact_menu_item"><a href="#">The projects</a></li>
                    <li class="contact_menu_item"><a href="#">Blog</a></li>
                    <li class="contact_menu_item"><a href="#">Jobs</a></li>
                </ul>
                <ul class="contact_submenu">
                    <li class="contact_menu_title">Support</li>
                    <li class="contact_menu_item"><a href="#">Help Center</a></li>
                    <li class="contact_menu_item"><a href="#">Terms of Serice</a></li>
                    <li class="contact_menu_item"><a href="#">Security</a></li>
                    <li class="contact_menu_item"><a href="#">Privacy Policy</a></li>
                </ul>
                
            </div>
        </div>
    </div>
</div>