<div class="container featured_flex">
    <div class="featured_item">
        <div class="featured_video">
            <img src="img/video.jpg" alt="video">
            <button class="featured_video_btn btn btn-play"><i class="fa fa-play" aria-hidden="true"></i></button>
        </div>
    </div>
    <div class="featured_item">
        <div class="featured_join">
            <div class="featured_join_item">
                <h3 class="title-blue">Day by day</h3>
                <span class="featured_join_subtitle">Adventure</span>
                <p class="featured_join_cite">With all the outstanding images and stories shared daily by our community, we wanted to create something that would let you tap into those reserves of inspiration.</p>
                <div class="author">
                    <img src="img/startup_woman.png" alt="Dana Galicia" class="author_img">
                    <span class="author_sign">Dana Galicia</span>
                </div>
            </div>
            <div class="featured_join_item">
                <h3 class="title-blue">let others see the beauty of the world captured by your eyes.</h3>
                <span class="featured_join_subtitle">Be part of the community</span>
                <button class="btn btn__blue">Join us</button>
            </div>
        </div>
    </div>
    <div class="featured_item">
        <h3 class="featured_stories_title">Featured stories</h3>
        <div class="featured_stories">
            <div class="featured_stories_item">
                <img src="img/featured_story_1.png" alt="photo">
                <h3 class="featured_stories_subtitle">Photography</h3>
                <p>A night to remember</p>
                <span>by Dana Galicia</span>
                <a class="link-arrow" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            <div class="featured_stories_item">
                <img src="img/featured_story_2.png" alt="video">
                <h3 class="featured_stories_subtitle">Video</h3>
                <p>Little shots of happy</p>
                <span>by Leanne Whitney</span>
                <a class="link-arrow" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            <div class="featured_stories_item">
                <img src="img/featured_story_3.png" alt="Expositions">
                <h3 class="featured_stories_subtitle">Expositions</h3>
                <p>Nocturna</p>
                <span>by Jake Verow</span>
                <a class="link-arrow" href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
        </div>
    </div>
    <div class="featured_item">
        <div class="featured_place">
            <span class="featured_place_subtitle">The story of each</span>
            <h3 class="featured_place_title">Place</h3>
            <button class="btn featured_btn btn__tr">Explore</button>
        </div>
    </div>

</div>