<div class="container">
    <h2 class="title sc_title">Gallery</h2>
    <div class="gallery_content">
        <figure class="gallery_item">
            <img class="gallery_img" src="img/gallery_img_1.jpg" alt="Foam" />
            <figcaption class="gallery_title" >Foam<span class="gallery_date">NOV 9, 2015</span></figcaption>
        </figure>
        <figure class="gallery_item">
            <img class="gallery_img" src="img/gallery_img_2.jpg" alt="Foam" />
            <figcaption class="gallery_title" >Pontneddfechan Waterfalls<span class="gallery_date">NOV 9, 2015</span></figcaption>
        </figure>
        <figure class="gallery_item">
            <img class="gallery_img" src="img/gallery_img_3.jpg" alt="Foam" />
            <figcaption class="gallery_title" >Mocean<span class="gallery_date">NOV 9, 2015</span></figcaption>
        </figure>
        <figure class="gallery_item">
            <img class="gallery_img" src="img/gallery_img_4.jpg" alt="Foam" />
            <figcaption class="gallery_title" >Freshwater West<span class="gallery_date">NOV 9, 2015</span></figcaption>
        </figure>
        <figure class="gallery_item">
                <img class="gallery_img" src="img/gallery_img_1.jpg" alt="Foam" />
                <figcaption class="gallery_title" >Foam<span class="gallery_date">NOV 9, 2015</span></figcaption>
            </figure>
    </div>
    <a href="#" class="link-arrow">Explore gallery<i class="fas fa-long-arrow-alt-right"></i></a>
</div>