<div class="header_menu">
    <a href="#" class="header_logo">
        <img src="img/logo.png" alt="logo" width="97" height="21">
    </a>
    <nav class="header_nav">
        <ul class="menu">
            <li class="menu_item"><a href="#">Home</a></li>
            <li class="menu_item"><a href="#">About</a></li>
            <li class="menu_item"><a href="#">Gallery</a></li>
            <li class="menu_item"><a href="#">Journal</a></li>
            <li class="menu_item"><a href="#">Contact</a></li> 
            <li class="menu_item"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>                
        </ul>
    </nav>
</div>
<div class="header_content">    
    <p class="header_subtitle">LET YOUR LIFE BE AN</p>
    <h1 class="header_title title">Adventure</h1>
    <button class="btn header_btn btn__tr">Get inspired</button>
</div>    
