<div class="container impressive_container">
    <div class="impressive_heading">
        <h2 class="title impressive_title sc_title">Impres&#8211;<br>sive</h2>
        <p class="impressive_subtitle">Shots of the week.</p>
        <div class="author">
            <img src="img/jn_bean.png" alt="Jonathan Bean" class="author_img">
            <span class="author_sign">by Jonathan Bean</span>
        </div>
    </div>
    <div class="impressive_gallery">
        <div class="impressive_items">
            <img class="impressive_item" src="img/impression_photo_1.png" alt="photo_1">
            <img class="impressive_item" src="img/impression_photo_2.png" alt="photo_2">
            <img class="impressive_item" src="img/impression_photo_3.png" alt="photo_3">
            <img class="impressive_item" src="img/impression_photo_4.png" alt="photo_4">
            <img class="impressive_item" src="img/impression_photo_5.png" alt="photo_5">
        </div>
        <a class="link-arrow" href="#">See more<i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
    <div class="circle-img impressive_circle shadow">
        <img src="img/img_floating_circle.png" alt="circle-img">
    </div>
</div>