<div class="container journal_header">
    <h2 class="title sc_title">Jour&#8211;<br>nal</h2>
    <img src="img/img_floating_square_b.png" alt="square">
</div>
<div class="journal_container">
    <div class="journal_count">
        <span class="journal_int">712</span>
    </div>
<div class="journal_content">
    <h2 class="journal_title">Weekly topics</h2>
    <!--<span clas="journal_subtitle">Written by people like you</span>-->
    <div class="container journal_item">


    </div>
</div>
</div>