<!DOCTYPE html>
<html>
    <head>
        <title>Wild_</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:300" rel="stylesheet">
        <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">    
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    </head>

    <body>
        <header class="header">
        {% include "_header.html" %}
        </header>
        <section class="impressive">
        {% include "_impressive.html" %}
        </section>
        <section class="about">
        {% include "_about.html" %}
        </section>
        <section class="gallery">
        {% include "_gallery.html" %}
        </section>
        <section class="journal">
        {% include "_journal.html" %}
        </section>
        <section class="featured">
        {% include "_featured.html" %}
        </section>
        <section class="contact">
        {% include "_contact.html" %}
        </section>
        <footer class="footer">
        {% include "_footer.html" %}
        </footer>    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> 
        <script src="js/jquery.peity.min.js"></script>
        <script>
        $(".demo-pie").peity("pie");
        </script>
        </body>
        </html>
    </body>
</html>
