<!DOCTYPE html>
<html>
    <head>
        <title>Wild_</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Raleway:300" rel="stylesheet">
        <link type="text/css" href="css/main.min.css" rel="stylesheet" media="screen">    
    </head>

    <body>
        <header class="header">
        {% include "_header.html" %}
        </header>
        <section class="about container">
        {% include "_impressive.html" %}
        </section>
        <section class="facts" id="facts">
        {% include "_about.html" %}
        </section>
        <section class="instruments container">
        {% include "_gallery.html" %}
        </section>
        <section class="feature">
        {% include "_journal.html" %}
        </section>
        <section class="job container">
        {% include "_featured.html" %}
        </section>
        <section class="quote">
        {% include "_contact.html" %}
        </section>
        <footer class="footer">
        {% include "_footer.html" %}
        </footer>    
    </body>
</html>
